body {
    background-color: #000000; /* Black background */
    color: #ffffff; /* White text */
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
}

a {
    color: white;
    text-decoration: none;
}

.icon{
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
    width: 30px;

    transition: transform 0.35s cubic-bezier(0.22, 1, 0.36, 1);
}

a:hover {
    text-decoration: none;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #080808;
    height: auto;
    padding-top: 40px;
    width: 100vw;
    color: white;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footerText {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cecece;
}

.socials {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;

}

li a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 8px;
    border-radius: 50%;
    width: 35px;
    margin: 10px;
}

li a .icon {
    transform: translateY(0px);
}

li a:hover .icon {
    transform: translateY(-4px) scaleX(1.15);
}

.footerBottom {
    background: #000000;
    width: 100vw;
    padding: 10px;
    text-align: center;
}

.footerBottom p {
    text-align: center;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footerBottom p a {
    color: #ccc;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    /* glow */
    color:white;
    animation-name: glow;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes glow{
    from{text-shadow:0px 0px 5px #fff,0px 0px 5px #c0c0c0;}
    to{text-shadow:0px 0px 15px #fff,0px 0px 20px #c0c0c0;}
}



input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type="submit"] {
    background-color: #008CBA; /* Blue background */
    color: white; /* White text */
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #007bb5; /* Darker blue on hover */
}



